@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Inter:wght@100..900&family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Outfit", sans-serif;
  --font-sans: "Inter", sans-serif;
  --font-accent: "Manrope", sans-serif;

  --color-basic-navy: #101832;
  --color-basic-navy-elegant: #1B273E;
  --color-basic-navy-muted: #3A4A68;
  --color-basic-blue-light: #BECBE7;
  --color-basic-offwhite: #F7F4EE;
  --color-basic-muted: #7E879B;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

.perspective-1000 {
  perspective: 1000px;
}

